Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

Use finally
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

Support injecting cb_explore_adf
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Fix naming of cb metrics
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

remove unused transforms
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Add missing changes for metrics naming and option injection
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

Fix schema validation and value retrieval
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Add perf statistics to other models
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
Due: python

Use new options
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: none

Make featurizers private
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/BooleanFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/Featurizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/MapFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/MapStringFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/NumericFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/SeqFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StringFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StringSplitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StructFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/VectorFeaturizer.scala
Due: scala

Small fixes
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitUtil.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/MapFeaturizer.scala
  src/test/python/mmlsparktest/vw/test_vw.py
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: scala

Revert vector to row
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
Due: scala

remove unused imports
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StringSplitFeaturizer.scala
Due: scala

remove extra space
  build.sbt
Due: none

try fix style warning
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
Due: scala

Implment parallelized fit
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/org/apache/spark/ml/NamespaceInjections.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: scala

improve tests runtime using caching
  src/main/__init__.py
  src/main/python/__init__.py
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/dataset.py
  src/main/python/mmlspark/cyber/feature/indexers.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/__init__.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/collaborative_filtering.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/complement_access.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/__init__.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/indexers.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/scalers.py
  src/main/python/mmlspark/cyber/ml/utils/__init__.py
  src/main/python/mmlspark/cyber/ml/utils/common.py
  src/main/python/mmlspark/cyber/ml/utils/spark_utils.py
  src/main/python/mmlspark/cyber/utils/common.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
Due: python

improve tests runtime using caching
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
Due: python

improve tests runtime using caching
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
Due: python

Adding logging
  scalastyle-config.xml
  scalastyle-test-config.xml
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

put back parallelism prop
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Add back removed file and fix prop
  scalastyle-config.xml
  scalastyle-test-config.xml
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

improve tests runtime using caching
  docs/cyber.md
Due: none

Project parallel CB training into Python
  src/main/python/mmlspark/vw/VowpalWabbitContextualBandit.py
  src/main/scala/com/microsoft/ml/spark/vw/VectorZipper.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: scala, python

feat: CyberML (#890)
  docs/cyber.md
  pipeline.yaml
  src/__init__.py
  src/main/__init__.py
  src/main/python/__init__.py
  src/main/python/mmlspark/cyber/__init__.py
  src/main/python/mmlspark/cyber/anomaly/__init__.py
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/anomaly/complement_access.py
  src/main/python/mmlspark/cyber/dataset.py
  src/main/python/mmlspark/cyber/feature/__init__.py
  src/main/python/mmlspark/cyber/feature/indexers.py
  src/main/python/mmlspark/cyber/feature/scalers.py
  src/main/python/mmlspark/cyber/utils/__init__.py
  src/main/python/mmlspark/cyber/utils/spark_utils.py
  src/test/__init__.py
  src/test/python/__init__.py
  src/test/python/mmlsparktest/cyber/__init__.py
  src/test/python/mmlsparktest/cyber/anamoly/__init__.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_complement_access.py
  src/test/python/mmlsparktest/cyber/explain_tester.py
  src/test/python/mmlsparktest/cyber/feature/__init__.py
  src/test/python/mmlsparktest/cyber/feature/test_indexers.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
  src/test/python/mmlsparktest/cyber/utils/__init__.py
  src/test/python/mmlsparktest/cyber/utils/test_spark_utils.py
Due: python

fix: add "s" to failing publicwasb download
  notebooks/samples/ModelInterpretation - Snow Leopard Detection.ipynb
Due: none

add save and load methods to AccessAnomalyModel
  src/main/python/mmlspark/cyber/ml/access_anomalies/collaborative_filtering.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_collaborative_filtering.py
Due: python

chore: fix flaky analyze image test
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Due: none

fix: fix cyberml test imports
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
Due: none

add save and load methods to AccessAnomalyModel
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
Due: python

add save and load methods to AccessAnomalyModel
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
Due: python

feat: add save and load methods to AccessAnomalyModel (#905)
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
Due: python

fix: categorical parameter regression on dense dataset caused by missing whitespace
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix: categorical parameter regression on dense dataset caused by missing whitespace (#909)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
