Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

fixed style issue
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala

Add ability to create fat jars
  build.sbt
Due: none

build: Add ability to create fat jars (#702)
  build.sbt
Due: none

update lightgbm to 2.3.100, remove generateMissingLabels, fix lightgbm getting stuck on unbalanced data
  build.sbt
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

moved label 0/1 computation from lambda to symbolic
  src/main/scala/com/microsoft/ml/spark/core/schema/DatasetExtensions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
Due: scala

added ngram support
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
Due: scala

moved validation into isValid lambda
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
Due: scala

fixed brackets
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
Due: scala

removed space
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: none

fix: Add setLocation to python wrappers
  src/it/scala/com/microsoft/ml/spark/codegen/PySparkWrapper.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/AnamolyDetection.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/Face.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToText.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/core/contracts/Params.scala
  src/main/scala/com/microsoft/ml/spark/recommendation/RecommendationIndexer.scala
Due: scala

feat: Add automatic schema inference for writing to Azure Search
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearch.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearchAPI.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SearchWriterSuite.scala
Due: scala

chore: make more of the tests lazy
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
  src/test/scala/com/microsoft/ml/spark/stages/StratifiedRepartitionSuite.scala
Due: none

fix: fix issue with sequence based python setter
  src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
Due: scala

feat: Add complex type support for azure search sink
  notebooks/samples/AzureSearchIndex - Met Artworks.ipynb
  src/main/python/mmlspark/cognitive/AzureSearchWriter.py
  src/main/python/mmlspark/io/http/BingImageReader.py
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearch.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearchAPI.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearchSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SearchIndexSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SearchWriterSuite.scala
Due: scala, python

fix: Fix issue with sbt publishing
  build.sbt
  pipeline.yaml
  project/plugins.sbt
Due: none

fix validation data and ranker preprocessing
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
Due: scala

feat: Add automatic schema inference for writing to Azure Search (#704)
  build.sbt
  notebooks/samples/AzureSearchIndex - Met Artworks.ipynb
  pipeline.yaml
  project/plugins.sbt
  src/it/scala/com/microsoft/ml/spark/codegen/PySparkWrapper.scala
  src/main/python/mmlspark/cognitive/AzureSearchWriter.py
  src/main/python/mmlspark/io/http/BingImageReader.py
  src/main/scala/com/microsoft/ml/spark/cognitive/AnamolyDetection.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearch.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearchAPI.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearchSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/Face.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SearchIndexSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToText.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/core/contracts/Params.scala
  src/main/scala/com/microsoft/ml/spark/recommendation/RecommendationIndexer.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SearchWriterSuite.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
  src/test/scala/com/microsoft/ml/spark/stages/StratifiedRepartitionSuite.scala
Due: scala, python

feat: Add VowpalWabbit ngram support (#696)
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
Due: scala

feat: added label conversion for VW binary classifier (0/1 -> -1/1) (#700)
  src/main/scala/com/microsoft/ml/spark/core/schema/DatasetExtensions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala

feat: Add brands and objects to analyze image transformer
  src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVisionSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/ComputerVisionSuite.scala
Due: scala

chore: ignore flaky test for now
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

fix num cores per executor if config not specified
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
Due: scala

fix:fix num cores per executor if config not specified (#709)
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
Due: scala

docs: Example notebook of VW vs LightGBM (#641)
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
Due: none
