Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

build: added isolation forest test to build pipeline (#800)
  pipeline.yaml
Due: none

Fix compilation issue
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
Due: scala

feat: Add the option to get Feature Contributions in LightGBMBooster used by LightGBMRanker (#791)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRanker.scala
Due: scala

fix: LightGBMRanker should repartition by grouping column (#778)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRanker.scala
Due: scala

added multiclass init score support
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDataset.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix: added multiclass init score support (#805)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDataset.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

Update setup.py
  src/main/python/setup.py
Due: python

Create publish_python.yml
  .github/workflows/publish_python.yml
Due: none

allow allocating more than int max array
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDataset.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

feat: Add `TextSentimentV3` Transformer
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSuite.scala
Due: scala

support numeric types (not just double) for weight/label
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

added warning when casting double to float fixed style (remove space *sigh*)
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

feat: Add `TextSentimentV3` Transformer (#812)
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSuite.scala
Due: scala

adding a cyber and cyberml pillar to MMLSpark as discussed
  src/main/python/mmlspark/cyber/__init__.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/__init__.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/collaborative_filtering.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/complement_access.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/__init__.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/indexers.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/scalers.py
  src/main/python/mmlspark/cyber/ml/utils/__init__.py
  src/main/python/mmlspark/cyber/ml/utils/common.py
  src/main/python/mmlspark/cyber/ml/utils/spark_utils.py
  src/test/python/mmlspark/cyber/__init__.py
  src/test/python/mmlspark/cyber/dataset.py
  src/test/python/mmlspark/cyber/ml/__init__.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/__init__.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_collaborative_filtering.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlspark/cyber/ml/explain_tester.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/__init__.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlspark/cyber/ml/utils/__init__.py
  src/test/python/mmlspark/cyber/ml/utils/test_spark_utils.py
Due: python

add documentation as well
  docs/cyber.md
Due: none

rename Linear to MinMax as proposed in the comments
  src/main/python/mmlspark/cyber/ml/access_anomalies/collaborative_filtering.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/scalers.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_scalers.py
Due: python

rename Linear to MinMax as proposed in the comments
  docs/cyber.md
Due: none

added support for readable model, invert hash and re-using a previously trained VW Spark model
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/test/python/mmlspark/vw/test_vw.py
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala, python

attempts to fix tests to run according to conventions in mmlspark
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_collaborative_filtering.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlspark/cyber/ml/utils/explain_tester.py
  src/test/python/mmlspark/cyber/ml/utils/test_spark_utils.py
Due: none

attempts to fix tests to run according to conventions in mmlspark
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_collaborative_filtering.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlspark/cyber/ml/utils/test_spark_utils.py
Due: none

feat: Enable mp3 codecs and intermediate result streaming in `SpeechToTextSDK`
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/resources/audio3.mp3
  src/test/resources/audio3.txt
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSuite.scala
Due: scala

feat: Add URI and URL based audio transcription
  build.sbt
  src/main/scala/com/microsoft/ml/spark/cognitive/AudioStreams.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/main/scala/org/apache/spark/injections/SConf.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
Due: scala

feat: enable mp3 file streaming in stt sdk (#822)
  build.sbt
  src/main/scala/com/microsoft/ml/spark/cognitive/AudioStreams.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/main/scala/org/apache/spark/injections/SConf.scala
  src/test/resources/audio3.mp3
  src/test/resources/audio3.txt
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSuite.scala
Due: scala

fix: move tests to a separate package and refactor common code
  build.sbt
  pipeline.yaml
  src/test/python/LICENSE.txt
  src/test/python/MANIFEST.in
  src/test/python/mmlsparktest/__init__.py
  src/test/python/mmlsparktest/nn/__init__.py
  src/test/python/mmlsparktest/nn/test_ball_tree.py
  src/test/python/mmlsparktest/recommendation/__init__.py
  src/test/python/mmlsparktest/recommendation/test_ranking.py
  src/test/python/mmlsparktest/spark.py
  src/test/python/mmlsparktest/vw/__init__.py
  src/test/python/mmlsparktest/vw/test_vw.py
  src/test/python/setup.py
  src/test/scala/com/microsoft/ml/spark/core/test/base/SparkSessionFactory.scala
  src/test/scala/com/microsoft/ml/spark/core/utils/JarLoadingUtils.scala
Due: none

fix: Improve codegen readability and added getters and setters to generated models
  build.sbt
  pipeline.yaml
  src/it/scala/com/microsoft/ml/spark/codegen/PySparkWrapper.scala
  src/it/scala/com/microsoft/ml/spark/codegen/PySparkWrapperTest.scala
  src/it/scala/com/microsoft/ml/spark/codegen/WrapperGenerator.scala
  src/main/scala/com/microsoft/ml/spark/core/contracts/Params.scala
  src/main/scala/com/microsoft/ml/spark/io/http/HTTPTransformer.scala
  src/main/scala/com/microsoft/ml/spark/io/http/Parsers.scala
  src/main/scala/com/microsoft/ml/spark/isolationforest/IsolationForest.scala
  src/main/scala/com/microsoft/ml/spark/recommendation/RankingAdapter.scala
  src/main/scala/com/microsoft/ml/spark/train/AutoTrainer.scala
  src/main/scala/com/microsoft/ml/spark/vw/HasNumBits.scala
  src/main/scala/com/microsoft/ml/spark/vw/HasSumcollisions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

simplified export model by running it on-demand; removed invert hash
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala, python

cleanup python VW methods
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
Due: python

remove unused imports
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
Due: scala
