Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

remove save_resume/preserve_performance_counters options as it breaks SGD/BFGS chaining
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitRegressor.scala
Due: scala

added missing brackets
  src/test/python/mmlsparktest/vw/test_vw.py
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

chore: fixes to improve test flakiness
  notebooks/samples/Classification - Adult Census with Vowpal Wabbit.ipynb
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/http/DistributedHTTPSuite.scala
Due: scala

add barrier mode support for VW
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala

fix:remove error prone IO from notebook tests
  notebooks/samples/Classification - Adult Census.ipynb
  notebooks/samples/Classification - Before and After MMLSpark.ipynb
  notebooks/samples/Regression -  Flight Delays with DataCleaning.ipynb
  notebooks/samples/Regression - Flight Delays.ipynb
  notebooks/samples/TextAnalytics - Amazon Book Reviews.ipynb
Due: none

fix:remove error prone IO from notebook tests
  notebooks/samples/Regression - Flight Delays.ipynb
  src/test/scala/com/microsoft/ml/spark/io/http/ContinuousHTTPSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/http/DistributedHTTPSuite.scala
Due: none

chore:Split up io tests into 2 sections
  pipeline.yaml
  src/it/scala/com/microsoft/ml/nbtest/DatabricksUtilities.scala
  src/test/scala/com/microsoft/ml/spark/image/ImageFeaturizerSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/BinaryFileReaderSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/HTTPTransformerSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/ImageReaderSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/ParserSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/PowerBiSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/SimpleHTTPTransformerSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split2/ContinuousHTTPSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split2/DistributedHTTPSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split2/HTTPSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split2/HTTPv2Suite.scala
  src/test/scala/com/microsoft/ml/spark/lime/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/lime/SuperpixelTransformerSuite.scala
Due: none

fix: Fix flakiness in io tests
  pipeline.yaml
  src/test/scala/com/microsoft/ml/spark/io/split1/ImageReaderSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split2/ContinuousHTTPSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split2/DistributedHTTPSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split2/HTTPv2Suite.scala
Due: none

build: Add Caching to build pipeline
  pipeline.yaml
  src/test/scala/com/microsoft/ml/spark/io/split2/HTTPv2Suite.scala
  templates/ivy_cache.yml
  templates/ivy_cache_2.yml
Due: none

chore: Add time in httpv2 tests to reduce flakiness on build VMs
  src/main/scala/com/microsoft/ml/spark/io/http/Parsers.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
Due: scala

extended test case to validate duplicate passes parameter
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: none

fix: fix optional parsing for the CustomOutputParser
  src/main/scala/com/microsoft/ml/spark/io/http/Parsers.scala
Due: scala

chore: Update CODEOWNERS (#831)
  CODEOWNERS
Due: none

fix: fix optional parsing for the CustomOutputParser (#835)
  src/main/scala/com/microsoft/ml/spark/io/http/Parsers.scala
Due: scala

extended test case to validate duplicate passes parameter (#834)
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: none

build: Split e2e and publishing
  pipeline.yaml
Due: none

build: Split e2e and publishing (#836)
  pipeline.yaml
Due: none

fix: remove save_resume/preserve_performance_counters options as it breaks SGD/BFGS chaining (#828)
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitRegressor.scala
Due: scala

feat: add support for VW readable model, invert hash and re-using a previous… (#821)
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/test/python/mmlsparktest/vw/test_vw.py
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala, python

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
