Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

feat: add update learning_rate by using LightGBMDelegate
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

fix minor
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

fix serialization error
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

change LightGBMDelegate to trait for scala style
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDelegate.scala
Due: scala

feat: add interface function for updating learning_rate per each iteration in LightGBMDelegate (#849)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDelegate.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

feat: Add m3u8 streaming for `SpeechToTextSDK`
  build.sbt
  pipeline.yaml
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/resources/audio3.txt
  src/test/resources/audio4.txt
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
Due: scala

1) add functions for before/after batch training (#852)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDelegate.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix default values based on master - https://spark.apache.org/docs/latest/configuration.html
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
Due: scala

build: split cog services on spark tests
  pipeline.yaml
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/AnamolyDetectionSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/FaceAPI.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/FaceSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ImageSearchSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SearchWriterSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSuite.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
Due: none

add unittest for clusterutils
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/SparkSessionFactory.scala
  src/test/scala/com/microsoft/ml/spark/core/utils/VerifyClusterUtil.scala
Due: scala

Bump Apache Spark to 2.4.5
  build.sbt
Due: none

fix tests, but now tests fail, perhaps due to problems in the Scala implementation
  src/main/python/mmlspark/cyber/__init__.py
  src/main/python/mmlspark/cyber/anomaly/__init__.py
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/utils/__init__.py
  src/main/python/mmlspark/cyber/utils/spark_utils.py
  src/test/python/mmlsparktest/cyber/anomaly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/dataset.py
  src/test/scala/com/microsoft/ml/spark/cyber/anomaly/AccessAnomalySuite.scala
Due: python

add featuresShapCol to LightGBMClassifierModel
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
Due: scala

fix tests, but now tests fail, perhaps due to problems in the Scala implementation
  src/test/python/mmlsparktest/cyber/anomaly/test_collaborative_filtering.py
Due: none

fix memory corruption errors
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fixed ranker test
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

bug in missing objects to save
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
Due: scala

feat: add featuresShapCol to LightGBMClassifierModel (#863)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

updating lightgbm to 2.3.180
  build.sbt
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDataset.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

build: updating lightgbm to 2.3.180 (#850)
  build.sbt
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDataset.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

re-disable flaky test
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

re-disable flaky test (#866)
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
