Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

build: make python test loop easier:
  build.sbt
  src/it/scala/com/microsoft/ml/spark/codegen/CodegenConfig.scala
  src/main/python/setup.py
  src/test/python/mmlsparktest/spark.py
Due: python

build: update ffmpeg on build server
  pipeline.yaml
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
Due: scala

feat: stream robustness, output audio stream to file, and custom speech
  src/main/scala/com/microsoft/ml/spark/cognitive/BingImageSearch.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/ImageReaderSuite.scala
Due: scala

Added maintainer.
  tools/helm/livy/Dockerfile
  tools/helm/spark/Dockerfile
  tools/helm/zeppelin/Dockerfile
Due: none

Merge pull request #882 from ocworld/fix-rename-clusterutils-numcores
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMConstants.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

chore: move build to new subscription
  pipeline.yaml
  src/it/scala/com/microsoft/ml/nbtest/DatabricksUtilities.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/FaceAPI.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/FaceSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SearchWriterSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSuite.scala
Due: scala

chore: move build to new subscription (#888)
  pipeline.yaml
  src/it/scala/com/microsoft/ml/nbtest/DatabricksUtilities.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/FaceAPI.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/FaceSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SearchWriterSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSuite.scala
Due: scala

attempts to fix tests to run according to conventions in mmlspark
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/utils/spark_utils.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_complement_access.py
  src/test/python/mmlsparktest/cyber/dataset.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
Due: python

fix all unit tests!
  src/__init__.py
  src/main/python/mmlspark/cyber/feature/indexers.py
  src/main/python/mmlspark/cyber/feature/scalers.py
  src/test/__init__.py
  src/test/python/__init__.py
  src/test/python/mmlspark/cyber/__init__.py
  src/test/python/mmlspark/cyber/dataset.py
  src/test/python/mmlspark/cyber/ml/__init__.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/__init__.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_collaborative_filtering.py
  src/test/python/mmlspark/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlspark/cyber/ml/explain_tester.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/__init__.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlspark/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlspark/cyber/ml/utils/__init__.py
  src/test/python/mmlspark/cyber/ml/utils/explain_tester.py
  src/test/python/mmlspark/cyber/ml/utils/test_spark_utils.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_complement_access.py
  src/test/python/mmlsparktest/cyber/explain_tester.py
  src/test/python/mmlsparktest/cyber/feature/test_indexers.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
Due: python

Implement action merger
  src/main/scala/com/microsoft/ml/spark/cb/ActionMerger.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/scala/com/microsoft/ml/spark/cb/VerifyContextualBandit.scala
Due: scala

make internal class private
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
Due: python

Add estimator
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitUtil.scala
  src/test/scala/com/microsoft/ml/spark/cb/VerifyContextualBandit.scala
Due: scala

Cleanup branch
  src/main/scala/com/microsoft/ml/spark/cb/ActionMerger.scala
  src/main/scala/com/microsoft/ml/spark/cb/ContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/cb/NestedVectorAssembler.scala
  src/main/scala/com/microsoft/ml/spark/vw/ColumnVectorSequencer.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitUtil.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/Featurizer.scala
  src/test/resources/personalizer1.json
  src/test/scala/com/microsoft/ml/spark/cb/VerifyContextualBandit.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitPersonalizer.scala
Due: scala

Implement transform schema
  src/main/scala/com/microsoft/ml/spark/vw/ColumnVectorSequencer.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: scala

improve tests runtime using caching
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
Due: none

Change names in ContextualBanditMetrics
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Add Python components
  src/main/python/mmlspark/vw/VowpalWabbitContextualBandit.py
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: python

Update to released JAR
  build.sbt
Due: none

build: Ignore existing installation when running installPipPackageTask
  build.sbt
Due: none

Add Python tests
  src/test/python/mmlsparktest/vw/test_vw.py
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: none

Test fixes and fix required for python test
  src/main/python/mmlspark/vw/VowpalWabbitContextualBandit.py
  src/main/scala/com/microsoft/ml/spark/vw/ColumnVectorSequencer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: scala, python

fix copyright header
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: none

Fixed bug
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Fix string array featurizer
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
Due: scala

Fix double add of features
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

Use string interpolation
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Remove unused commented out code
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitUtil.scala
Due: scala

Leave CB model as unimplemeted
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Style fixes
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitUtil.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/BooleanFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/ElementFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/MapFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/MapStringFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/NumericFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/SeqFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StringFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StructFeaturizer.scala
Due: scala

Remove pass from test
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: none

Coalesce dataframe into single partition
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: none

Expose performance statistics and update test
  src/main/python/mmlspark/vw/VowpalWabbitContextualBandit.py
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: python

A couple more small style fixes
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
Due: scala

build: Ignore existing installation when running installPipPackageTask (#895)
  build.sbt
Due: none

Rename ColumnVectorSequencer to VectorZipper
  src/main/scala/com/microsoft/ml/spark/vw/VectorZipper.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: scala

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
