Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

Add fuzz tests
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBanditFuzzing.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitVectorZipperFuzzing.scala
Due: none

Use bundled dataset
  build.sbt
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBanditFuzzing.scala
Due: none

Add exemption for mixin test
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
Due: none

style fixes
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBanditFuzzing.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitVectorZipperFuzzing.scala
Due: none

Remove readable/writable from base trait and update leaves to complex
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitRegressor.scala
Due: scala

Check for incompatible options
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBanditFuzzing.scala
Due: scala

use sentiment label instead of score
  notebooks/samples/CognitiveServices - Celebrity Quote Analysis.ipynb
Due: none

update images
  notebooks/samples/CognitiveServices - Celebrity Quote Analysis.ipynb
Due: none

feat: Update text analytics api to v3 (#916)
  notebooks/samples/CognitiveServices - Celebrity Quote Analysis.ipynb
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemasV2.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

Address feedback
  src/test/python/mmlsparktest/vw/test_vw_cb.py
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBanditFuzzing.scala
Due: none

feat: Add support for ContextualBandit in the VW module (#896)
  build.sbt
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitContextualBandit.py
  src/main/scala/com/microsoft/ml/spark/vw/VectorZipper.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitRegressor.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitUtil.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/BooleanFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/ElementFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/Featurizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/MapFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/MapStringFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/NumericFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/SeqFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StringFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StringSplitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/StructFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/VectorFeaturizer.scala
  src/main/scala/org/apache/spark/ml/NamespaceInjections.scala
  src/test/python/mmlsparktest/vw/test_vw_cb.py
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitVectorZipperFuzzing.scala
Due: scala, python

Update scalastyle-config.xml
  scalastyle-config.xml
Due: none

fix: disable the empty regex style checker
  scalastyle-config.xml
Due: none

Fix incorrect indexing for determining eval prob
  scalastyle-config.xml
  scalastyle-test-config.xml
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Undo accidental file removal
  scalastyle-config.xml
  scalastyle-test-config.xml
Due: none

fix: Fix incorrect indexing for determining eval prob in CB (#922)
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Update README for v1.0-rc2
  README.md
Due: none

Update README.md
  README.md
Due: none

feat: Add Env variable parametrized UserAgent header
  src/main/scala/com/microsoft/ml/spark/io/http/HTTPSchema.scala
Due: scala

fix: fix broken test link
  src/test/resources/audio4.txt
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSDKSuite.scala
Due: none

add livy api wrappers
  src/it/scala/com/microsoft/ml/nbtest/LivyUtilities.scala
  src/it/scala/com/microsoft/ml/nbtest/NotebookTests.scala
Due: none

intermediate stage
  src/it/scala/com/microsoft/ml/nbtest/LivyUtilities.scala
  src/it/scala/com/microsoft/ml/nbtest/NotebookTests.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
Due: none

progress
  project/Secrets.scala
  src/it/scala/com/microsoft/ml/nbtest/LivyUtilities.scala
  src/it/scala/com/microsoft/ml/nbtest/NotebookTests.scala
Due: none

update sub id in secrets file
  project/Secrets.scala
Due: none

chore: bump version to 1.0.0-rc3
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
Due: none

docs: Bump python install to top to make it clearer
  README.md
Due: none

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
