Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

improvement: support numeric types (not just double) for weight/label (#817)
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

fix: Add support for URI parameters and default filetypes
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
Due: scala

chore: remove flaky lightGBM test and add retries to Cog service tests
  src/test/scala/com/microsoft/ml/spark/cognitive/ComputerVisionSuite.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

fix: make file type case insensitive
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
Due: scala

fix: fix flakiness in BiLSTM notebook
  notebooks/samples/DeepLearning - BiLSTM Medical Entity Extraction.ipynb
Due: none

feat: Add CyberML package to MMLSpark
  docs/cyber.md
  src/main/python/mmlspark/cyber/__init__.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/__init__.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/collaborative_filtering.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/complement_access.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/__init__.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/indexers.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/scalers.py
  src/main/python/mmlspark/cyber/ml/utils/__init__.py
  src/main/python/mmlspark/cyber/ml/utils/common.py
  src/main/python/mmlspark/cyber/ml/utils/spark_utils.py
  src/test/python/mmlsparktest/cyber/__init__.py
  src/test/python/mmlsparktest/cyber/dataset.py
  src/test/python/mmlsparktest/cyber/ml/__init__.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/__init__.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlsparktest/cyber/ml/explain_tester.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/__init__.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlsparktest/cyber/ml/utils/__init__.py
  src/test/python/mmlsparktest/cyber/ml/utils/explain_tester.py
  src/test/python/mmlsparktest/cyber/ml/utils/test_spark_utils.py
Due: python

begin reformat of cyberml
  docs/cyber.md
  pipeline.yaml
  src/main/python/mmlspark/cyber/anomaly/__init__.py
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/anomaly/complement_access.py
  src/main/python/mmlspark/cyber/feature/__init__.py
  src/main/python/mmlspark/cyber/feature/indexers.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/scalers.py
  src/main/python/mmlspark/cyber/utils/__init__.py
  src/main/python/mmlspark/cyber/utils/common.py
  src/main/python/mmlspark/cyber/utils/spark_utils.py
  src/main/scala/com/microsoft/ml/spark/cyber/feature/Scalers.scala
  src/test/python/mmlsparktest/__init__.py
  src/test/python/mmlsparktest/cyber/anamoly/__init__.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_complement_access.py
  src/test/python/mmlsparktest/cyber/dataset.py
  src/test/python/mmlsparktest/cyber/feature/__init__.py
  src/test/python/mmlsparktest/cyber/feature/test_indexers.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
  src/test/python/mmlsparktest/cyber/ml/__init__.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlsparktest/cyber/ml/utils/explain_tester.py
  src/test/python/mmlsparktest/cyber/utils/__init__.py
  src/test/python/mmlsparktest/cyber/utils/explain_tester.py
  src/test/python/mmlsparktest/cyber/utils/test_spark_utils.py
  src/test/scala/com/microsoft/ml/spark/cyber/feature/ScalerSuite.scala
Due: scala, python

Add cyberml indexers
  src/main/scala/com/microsoft/ml/spark/cyber/feature/Indexers.scala
  src/test/scala/com/microsoft/ml/spark/cyber/feature/IndexerSuite.scala
Due: scala

remove old indexers code
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/feature/__init__.py
  src/main/python/mmlspark/cyber/feature/indexers.py
Due: python

feat: move complement access to scala
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/anomaly/complement_access.py
  src/main/python/mmlspark/cyber/utils/common.py
  src/main/python/mmlspark/cyber/utils/spark_utils.py
  src/main/scala/com/microsoft/ml/spark/cyber/anomaly/ComplementSampler.scala
  src/main/scala/com/microsoft/ml/spark/cyber/feature/Indexers.scala
  src/test/python/mmlsparktest/cyber/anamoly/test_complement_access.py
  src/test/python/mmlsparktest/cyber/anomaly/__init__.py
  src/test/python/mmlsparktest/cyber/anomaly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anomaly/test_complement_sampler.py
  src/test/python/mmlsparktest/cyber/feature/test_indexers.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
  src/test/python/mmlsparktest/cyber/utils/test_spark_utils.py
  src/test/scala/com/microsoft/ml/spark/cyber/anomaly/ComplementSamplerSuite.scala
  src/test/scala/com/microsoft/ml/spark/cyber/feature/IndexerSuite.scala
Due: scala, python

fic: Codegen dataframe param fixes
  src/it/scala/com/microsoft/ml/spark/codegen/PySparkWrapper.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  src/main/scala/com/microsoft/ml/spark/core/contracts/Params.scala
Due: scala

fix complement sampler tests
  src/main/scala/com/microsoft/ml/spark/cyber/anomaly/ComplementSampler.scala
  src/test/python/mmlsparktest/cyber/anomaly/test_complement_sampler.py
Due: scala

replaced coalesce with repartition
  notebooks/samples/Classification - Adult Census with Vowpal Wabbit.ipynb
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitRegressor.scala
Due: none

change coalesce to repartition
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
Due: none

feat: add barrier mode support for VW (#832)
  notebooks/samples/Classification - Adult Census with Vowpal Wabbit.ipynb
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitRegressor.scala
Due: scala

add option for driver listen port
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMConstants.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
Due: scala

wip
  src/main/scala/com/microsoft/ml/spark/cyber/anomaly/AccessAnomaly.scala
  src/main/scala/org/apache/spark/ml/NamespaceInjections.scala
  src/test/scala/com/microsoft/ml/spark/cyber/anomaly/AccessAnomalySuite.scala
Due: scala

add delegate to monitor training
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDelegate.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

fix: space after if
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

feat: add delegate to monitor training (#847)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDelegate.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

Remake access anomaly
  src/main/scala/com/microsoft/ml/spark/cyber/anomaly/AccessAnomaly.scala
  src/test/scala/com/microsoft/ml/spark/cyber/anomaly/AccessAnomalySuite.scala
Due: scala

feat: add update learning_rate by using LightGBMDelegate
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDelegate.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

feat: add update learning_rate by using LightGBMDelegate
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
