Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

fix: categorical parameter regression on dense dataset caused by missing whitespace (#909)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix: improve error message for invalid slot names
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Due: scala

fix: improve error message for invalid slot names (#897)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Due: scala

Propagate failures in StreamUtilities.using statement
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

Define additionalSharedFeatures columns as part of the additonal columns so they aren't dropped in the base learner
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Add tests for namespaces
  src/test/python/mmlsparktest/vw/test_vw_cb.py
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: none

Fix non exhaustive match
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

fix: Updating regular Docker Images for helm chart. (#885)
  tools/helm/livy/Dockerfile
  tools/helm/livy/spark-config/core-site.xml
  tools/helm/livy/spark-config/log4j.properties
  tools/helm/livy/spark-config/spark-defaults.conf
  tools/helm/livy/spark-config/start-common.sh
  tools/helm/livy/spark-config/start-master
  tools/helm/livy/spark-config/start-worker
  tools/helm/spark/Dockerfile
  tools/helm/zeppelin/Dockerfile
  tools/helm/zeppelin/jars/README.md
  tools/helm/zeppelin/mini.Dockerfile
  tools/helm/zeppelin/mmlsparkExamples/classification_mmlspark_2E3REACQR.zpln
  tools/helm/zeppelin/mmlsparkExamples/serving.py
  tools/helm/zeppelin/mmlsparkExamples/simplification_mmlspark.zpln
  tools/helm/zeppelin/mmlsparkExamples/sparkPi_2E12S8C29.zpln
  tools/helm/zeppelin/mmlsparkExamples/sparkserving_2DZFNGU8A.zpln
  tools/helm/zeppelin/mmlsparkExamples/submitjob_2DZ7DHX6E.zpln
  tools/helm/zeppelin/patch_beam.patch
  tools/helm/zeppelin/spark-config/core-site.xml
  tools/helm/zeppelin/spark-config/log4j.properties
  tools/helm/zeppelin/spark-config/spark-defaults.conf
  tools/helm/zeppelin/spark-config/start-common.sh
  tools/helm/zeppelin/spark-config/start-master
  tools/helm/zeppelin/spark-config/start-worker
  tools/helm/zeppelin/spark-defaults.conf
  tools/helm/zeppelin/zeppelin-env.sh
  tools/helm/zepplin/Dockerfile
Due: none

WIP
  build.sbt
  src/main/scala/com/microsoft/ml/spark/core/schema/SparkBindings.scala
  src/main/scala/com/microsoft/ml/spark/featurize/AssembleFeatures.scala
  src/main/scala/org/apache/spark/sql/execution/streaming/continuous/HTTPSourceV2.scala
Due: scala

build: bump version
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
Due: none

chore: add Roy to CODEOWNERS
  CODEOWNERS
Due: none

fix: Update DBC path
  README.md
Due: none

Implement prediction
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/test/python/mmlsparktest/vw/test_vw_cb.py
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: scala

Fix test failure
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Fix transform impl
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/test/python/mmlsparktest/vw/test_vw_cb.py
Due: scala

update KeyPhraseExtractor to V3
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

add NER V3 API
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

add language detector v3 api
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

update text sentiment from v3.0-preview to v3.0
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
Due: scala

update entity detector to v3
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

fix couple of style check errors
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
Due: scala

split text analytics schema to 2 classes
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemasV2.scala
Due: scala

suffix all TA APIs with v2
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemasV2.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

remove v3 suffix from latest APIs
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

fix celebrity quote analysis e2e scenario
  notebooks/samples/CognitiveServices - Celebrity Quote Analysis.ipynb
Due: none

Fix some style changes, update test
  src/main/python/mmlspark/vw/VowpalWabbitContextualBandit.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/python/mmlsparktest/vw/test_vw.py
  src/test/python/mmlsparktest/vw/test_vw_cb.py
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: scala, python

style fixes
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/NumericFeaturizer.scala
Due: scala

Remove usage of structural type
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/NumericFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala

Use the numeric zero field
  src/main/scala/com/microsoft/ml/spark/vw/featurizer/NumericFeaturizer.scala
Due: scala

Remove unused code
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala

Style fixes
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitContextualBandit.scala
Due: none

Make model ComplexParamsWritable
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
Due: scala
