Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

unify APIs across LightGBM learner types and add SHAP feature importances to regressor
  src/main/python/mmlspark/lightgbm/LightGBMClassifier.py
  src/main/python/mmlspark/lightgbm/LightGBMRanker.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressor.py
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBoosterParam.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Due: scala, python

unify APIs across LightGBM learner types and add SHAP feature importances to regressor (#864)
  src/main/python/mmlspark/lightgbm/LightGBMClassifier.py
  src/main/python/mmlspark/lightgbm/LightGBMRanker.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressor.py
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBoosterParam.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Due: scala, python

reduce network communication overhead cost on reduce step for LightGBM learners
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

fixed shap values shape for multiclass case and improved pyspark API
  src/main/python/mmlspark/lightgbm/LightGBMClassifier.py
  src/main/python/mmlspark/lightgbm/LightGBMRanker.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressor.py
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala, python

Cross-compile to Scala 2.12
  build.sbt
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearch.scala
  src/main/scala/com/microsoft/ml/spark/io/binary/BinaryFileFormat.scala
  src/main/scala/com/microsoft/ml/spark/io/powerbi/PowerBIWriter.scala
  src/main/scala/org/apache/spark/sql/execution/streaming/DistributedHTTPSource.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
  src/test/scala/com/microsoft/ml/spark/stages/StratifiedRepartitionSuite.scala
Due: scala

fixed shap values shape for multiclass case and improved pyspark API (#870)
  src/main/python/mmlspark/lightgbm/LightGBMClassifier.py
  src/main/python/mmlspark/lightgbm/LightGBMRanker.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressor.py
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala, python

reduce network communication overhead cost on reduce step for LightGBM learners (#869)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

fix comment and add copyright
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
  src/test/scala/com/microsoft/ml/spark/core/utils/VerifyClusterUtil.scala
Due: scala

fix: spark.executor.cores' default value based on master when counting workers (#855)
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/SparkSessionFactory.scala
  src/test/scala/com/microsoft/ml/spark/core/utils/VerifyClusterUtil.scala
Due: scala

reduce memory churn on predict
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

revert scala addition
  src/main/python/mmlspark/cyber/feature/scalers.py
  src/main/scala/com/microsoft/ml/spark/cyber/feature/Scalers.scala
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
Due: scala, python

begin reformat of cyberml
  docs/cyber.md
  pipeline.yaml
  src/main/python/mmlspark/cyber/anomaly/__init__.py
  src/main/python/mmlspark/cyber/anomaly/collaborative_filtering.py
  src/main/python/mmlspark/cyber/anomaly/complement_access.py
  src/main/python/mmlspark/cyber/feature/__init__.py
  src/main/python/mmlspark/cyber/feature/indexers.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/scalers.py
  src/main/python/mmlspark/cyber/utils/__init__.py
  src/main/python/mmlspark/cyber/utils/common.py
  src/main/python/mmlspark/cyber/utils/spark_utils.py
  src/main/scala/com/microsoft/ml/spark/cyber/feature/Scalers.scala
  src/test/python/mmlsparktest/__init__.py
  src/test/python/mmlsparktest/cyber/anamoly/__init__.py
  src/test/python/mmlsparktest/cyber/anamoly/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/anamoly/test_complement_access.py
  src/test/python/mmlsparktest/cyber/dataset.py
  src/test/python/mmlsparktest/cyber/feature/__init__.py
  src/test/python/mmlsparktest/cyber/feature/test_indexers.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
  src/test/python/mmlsparktest/cyber/ml/__init__.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlsparktest/cyber/ml/utils/explain_tester.py
  src/test/python/mmlsparktest/cyber/utils/__init__.py
  src/test/python/mmlsparktest/cyber/utils/explain_tester.py
  src/test/python/mmlsparktest/cyber/utils/test_spark_utils.py
  src/test/scala/com/microsoft/ml/spark/cyber/feature/ScalerSuite.scala
Due: scala, python

feat: Add CyberML package to MMLSpark
  docs/cyber.md
  src/main/python/mmlspark/cyber/__init__.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/__init__.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/collaborative_filtering.py
  src/main/python/mmlspark/cyber/ml/access_anomalies/complement_access.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/__init__.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/indexers.py
  src/main/python/mmlspark/cyber/ml/feature_engineering/scalers.py
  src/main/python/mmlspark/cyber/ml/utils/__init__.py
  src/main/python/mmlspark/cyber/ml/utils/common.py
  src/main/python/mmlspark/cyber/ml/utils/spark_utils.py
  src/test/python/mmlsparktest/cyber/__init__.py
  src/test/python/mmlsparktest/cyber/dataset.py
  src/test/python/mmlsparktest/cyber/ml/__init__.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/__init__.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/test_collaborative_filtering.py
  src/test/python/mmlsparktest/cyber/ml/access_anomalies/test_complement_access.py
  src/test/python/mmlsparktest/cyber/ml/explain_tester.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/__init__.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_indexers.py
  src/test/python/mmlsparktest/cyber/ml/feature_engineering/test_scalers.py
  src/test/python/mmlsparktest/cyber/ml/utils/__init__.py
  src/test/python/mmlsparktest/cyber/ml/utils/explain_tester.py
  src/test/python/mmlsparktest/cyber/ml/utils/test_spark_utils.py
Due: python

fixes to get tests working
  src/main/python/mmlspark/cyber/feature/scalers.py
  src/test/python/mmlsparktest/__init__.py
  src/test/scala/com/microsoft/ml/spark/cyber/feature/ScalerSuite.scala
Due: python

more minor fixes
  src/main/python/mmlspark/cyber/anomaly/complement_access.py
  src/test/python/mmlsparktest/cyber/feature/test_scalers.py
Due: python

Add num tasks override parameter for LightGBM learners
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix rename numcores to numworkers in ClusterUtil
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

cores, workers => tasks
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

cores, workers => tasks
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
Due: scala

cores, workers => tasks
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMConstants.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

Add num tasks override parameter for LightGBM learners (#881)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

resolving conflicts
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
Due: scala

Updating regular Docker Images from helm chart.
  tools/helm/livy/Dockerfile
  tools/helm/spark/Dockerfile
  tools/helm/zepplin/Dockerfile
Due: none

chore: Update codeowners file to fix helm owwners
  CODEOWNERS
Due: none

Removed image dependency
  tools/helm/livy/Dockerfile
  tools/helm/livy/spark-config/core-site.xml
  tools/helm/livy/spark-config/log4j.properties
  tools/helm/livy/spark-config/spark-defaults.conf
  tools/helm/livy/spark-config/start-common.sh
  tools/helm/livy/spark-config/start-master
  tools/helm/livy/spark-config/start-worker
  tools/helm/zeppelin/Dockerfile
  tools/helm/zeppelin/jars/README.md
  tools/helm/zeppelin/mini.Dockerfile
  tools/helm/zeppelin/mmlsparkExamples/classification_mmlspark_2E3REACQR.zpln
  tools/helm/zeppelin/mmlsparkExamples/serving.py
  tools/helm/zeppelin/mmlsparkExamples/simplification_mmlspark.zpln
  tools/helm/zeppelin/mmlsparkExamples/sparkPi_2E12S8C29.zpln
  tools/helm/zeppelin/mmlsparkExamples/sparkserving_2DZFNGU8A.zpln
  tools/helm/zeppelin/mmlsparkExamples/submitjob_2DZ7DHX6E.zpln
  tools/helm/zeppelin/patch_beam.patch
  tools/helm/zeppelin/spark-config/core-site.xml
  tools/helm/zeppelin/spark-config/log4j.properties
  tools/helm/zeppelin/spark-config/spark-defaults.conf
  tools/helm/zeppelin/spark-config/start-common.sh
  tools/helm/zeppelin/spark-config/start-master
  tools/helm/zeppelin/spark-config/start-worker
  tools/helm/zeppelin/spark-defaults.conf
  tools/helm/zeppelin/zeppelin-env.sh
Due: none

Removed FBProphet
  tools/helm/livy/Dockerfile
  tools/helm/spark/Dockerfile
  tools/helm/zeppelin/Dockerfile
Due: none

build: make python test loop easier:
  build.sbt
  src/it/scala/com/microsoft/ml/spark/codegen/CodegenConfig.scala
  src/main/python/setup.py
  src/test/python/mmlsparktest/spark.py
Due: python

feat: stream robustness, output audio stream to file, and custom speech
  src/main/scala/com/microsoft/ml/spark/cognitive/BingImageSearch.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSuite.scala
  src/test/scala/com/microsoft/ml/spark/io/split1/ImageReaderSuite.scala
Due: scala

build: update ffmpeg on build server
  pipeline.yaml
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
Due: scala
