Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

fix:remove preview api from NERv2
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Due: scala

finish running tests on synapse
  README.md
  environment.yaml
  src/it/scala/com/microsoft/ml/nbtest/LivyUtilities.scala
  src/it/scala/com/microsoft/ml/nbtest/NotebookTests.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: none

add testing step for synapse in ADO
  pipeline.yaml
  src/it/scala/com/microsoft/ml/nbtest/NotebookTests.scala
Due: none

remove dummy test
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: none

fix job names
  pipeline.yaml
Due: none

build: fix livy dependency resolution
  build.sbt
Due: none

fix compile issue for !!
  src/it/scala/com/microsoft/ml/nbtest/LivyUtilities.scala
Due: none

fix conda activation in test
  src/it/scala/com/microsoft/ml/nbtest/LivyUtilities.scala
Due: none

README.md : adding pip install
  README.md
Due: none

LightGBMRegressor.py : updating imports
  src/main/python/mmlspark/lightgbm/LightGBMRegressor.py
Due: python

fix conda init for synapse test
  src/it/scala/com/microsoft/ml/nbtest/LivyUtilities.scala
  src/it/scala/com/microsoft/ml/nbtest/NotebookTests.scala
Due: none

Update pipeline.yaml for Azure Pipelines
  pipeline.yaml
Due: none

Update README.md
  README.md
Due: none

fix: Fix Double User agent setting bug
  src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/io/http/HTTPSchema.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/AnamolyDetectionSuite.scala
Due: scala

lazily creating a tempdir in NativeLoader
  src/main/scala/com/microsoft/ml/spark/core/env/NativeLoader.java
Due: scala

Update build.sbt
  build.sbt
Due: none

Update developer-readme.md
  docs/developer-readme.md
Due: none

fix: fix processing sparse vector size
  src/main/python/mmlspark/lightgbm/LightGBMClassifier.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressor.py
Due: python

build: fix build for new intellij
  build.sbt
  pipeline.yaml
  project/build.properties
  scalastyle-config.xml
  scalastyle-test-config.xml
  src/test/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  src/test/scala/com/microsoft/ml/spark/codegen/CodegenConfig.scala
  src/test/scala/com/microsoft/ml/spark/codegen/PySparkWrapper.scala
  src/test/scala/com/microsoft/ml/spark/codegen/PySparkWrapperTest.scala
  src/test/scala/com/microsoft/ml/spark/codegen/SparklyRWrapper.scala
  src/test/scala/com/microsoft/ml/spark/codegen/WrapperGenerator.scala
  src/test/scala/com/microsoft/ml/spark/codegen/WritableWrapper.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksUtilities.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/NotebookTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SprayUtilities.scala
Due: none

chore: lower threshold for STT tests
  src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSDKSuite.scala
Due: none

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
