Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

fixed early stopping test for validation
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

fixed early stopping test for validation (#711)
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

Support the group column being a string Fixes https://github.com/Azure/mmlspark/issues/710
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRanker.scala
Due: scala

Use a case class instead of anonymous tuple
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

change getTrainingCols from Option[DataType] -> Seq[DataType]
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRanker.scala
Due: scala

Fix default case check. Add test cases for countCardinality
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRanker.scala
Due: scala

chore: Bump Version Number to 1.0.0-rc1
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  docs/lightgbm.md
Due: none

Fix: Fix GH release bade display
  README.md
Due: none

Fix scalastyle
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

added max_bin_by_feature, min_gain_to_split, max_delta_step parameters
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

added max_bin_by_feature, min_gain_to_split, max_delta_step parameters (#712)
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

feat: Add wrappers for integrating with python Requests
  src/main/python/mmlspark/io/http/HTTPFunctions.py
Due: python

perf: remove async bottlenecks from HTTP on Spark
  src/main/scala/com/microsoft/ml/spark/cognitive/RESTHelpers.scala
  src/main/scala/com/microsoft/ml/spark/io/http/HTTPClients.scala
Due: scala

chore: add default UA
  src/main/scala/com/microsoft/ml/spark/io/http/HTTPSchema.scala
Due: scala

fix: Fix an issue with the sparkContext not being instantiated at eval time
  src/main/python/mmlspark/io/http/HTTPFunctions.py
  src/main/scala/com/microsoft/ml/spark/io/http/Clients.scala
Due: scala, python

build: exclude scala from fat jar
  build.sbt
Due: none
