Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

fix: add average to stripplot
  metrics/imgs/text_analytics_ma_stripplot.png
  metrics/text_analytics_plot.py
Due: none

refactored VW base for CB. first non-crashing version
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitUtil.scala
  src/test/scala/com/microsoft/ml/spark/cb/VerifyContextualBandit.scala
Due: scala

LightGBMRanker should repartition by grouping column
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
Due: scala

feat: Add python bindings
  src/main/python/mmlspark/nn/ConditionalBallTree.py
  src/main/python/mmlspark/nn/__init__.py
  src/main/scala/com/microsoft/ml/spark/nn/BallTree.scala
  src/test/python/mmlspark/nn/__init__.py
  src/test/python/mmlspark/nn/test_ball_tree.py
  src/test/python/mmlspark/recommendation/test_ranking.py
Due: scala, python

add saving logic
  src/main/python/mmlspark/nn/ConditionalBallTree.py
  src/main/scala/com/microsoft/ml/spark/nn/BallTree.scala
  src/test/python/mmlspark/nn/cbt.model
  src/test/python/mmlspark/nn/cbt.pkl
  src/test/python/mmlspark/nn/test_ball_tree.py
Due: scala, python

build: begin implementation of AML Estimator in TestApp
  amltest/tensor_test/definition.json
  amltest/tensor_test/tens_test.py
  build.sbt
  src/main/scala/com/microsoft/ml/spark/aml/AMLEstimator.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
Due: scala

build: add simple test cases for AML TestApp
  src/main/scala/com/microsoft/ml/spark/cognitive/TestApp.scala
  src/test/resources/testRun/definition.json
Due: scala

feat: Add KNN and ConditionalKNN Estimators
  build.sbt
  pipeline.yaml
  sp.txt
  src/main/scala/com/microsoft/ml/spark/nn/BallTree.scala
  src/main/scala/com/microsoft/ml/spark/nn/BoundedPriorityQueue.scala
  src/main/scala/com/microsoft/ml/spark/nn/ConditionalKNN.scala
  src/main/scala/com/microsoft/ml/spark/nn/KNN.scala
  src/main/scala/com/microsoft/ml/spark/nn/Schemas.scala
  src/main/scala/org/apache/spark/ml/param/BallTreeParam.scala
  src/main/scala/org/apache/spark/sql/types/injections/OptimizedCKNNFitting.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/SparkSessionFactory.scala
  src/test/scala/com/microsoft/ml/spark/core/test/benchmarks/Benchmarks.scala
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
  src/test/scala/com/microsoft/ml/spark/nn/BallTreeTest.scala
  src/test/scala/com/microsoft/ml/spark/nn/ConditionalBallTreeTest.scala
  src/test/scala/com/microsoft/ml/spark/nn/KNNTest.scala
Due: scala

feat: Add python bindings for `ConditionalBallTree`
  src/main/python/mmlspark/nn/ConditionalBallTree.py
  src/main/python/mmlspark/nn/__init__.py
  src/main/scala/com/microsoft/ml/spark/nn/BallTree.scala
  src/main/scala/com/microsoft/ml/spark/nn/ConditionalKNN.scala
  src/test/python/mmlspark/nn/__init__.py
  src/test/python/mmlspark/nn/test_ball_tree.py
  src/test/python/mmlspark/recommendation/test_ranking.py
Due: scala, python

style: ball tree style fixes
  src/main/scala/com/microsoft/ml/spark/nn/BallTree.scala
  src/test/python/mmlspark/nn/test_ball_tree.py
Due: scala

feat: Add `SpeechToTextSDK` Transformer
  build.sbt
  project/plugins.sbt
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/main/scala/com/microsoft/ml/spark/core/env/StreamUtilities.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/main/scala/org/apache/spark/sql/execution/streaming/DistributedHTTPSource.scala
  src/test/resources/audio1.txt
  src/test/resources/audio1.wav
  src/test/resources/audio2.txt
  src/test/resources/audio2.wav
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSuite.scala
Due: scala

chore: remove keys from demo
  notebooks/samples/AzureSearchIndex - Met Artworks.ipynb
Due: none

Expose parameter bin_construct_sample_cnt in spark for LightGBM
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
Due: scala

Correct merge issues
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
Due: scala

working integration with unit test
  build.sbt
  src/main/scala/com/microsoft/ml/spark/isolationforest/IsolationForest.scala
  src/test/scala/com/microsoft/ml/spark/isolationforest/VerifyIsolationForest.scala
Due: scala

build: Add parameters to AMLEstimator
  src/main/scala/com/microsoft/ml/spark/aml/AMLEstimator.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TestApp.scala
  src/test/scala/com/microsoft/ml/spark/aml/AMLSuite.scala
Due: scala

feat: add demo for `ConditionalKNN`
  notebooks/samples/ConditionalKNN - Exploring Art Across Cultures.ipynb
  src/it/scala/com/microsoft/ml/nbtest/DatabricksUtilities.scala
Due: none

removed local file ref
  build.sbt
Due: none

fix style
  src/main/scala/com/microsoft/ml/spark/isolationforest/IsolationForest.scala
Due: scala

select isolation forest spark 2.4.3 version
  build.sbt
Due: none

fix: Fix subtle bug in reverse index creation
  src/main/scala/com/microsoft/ml/spark/nn/BallTree.scala
  src/main/scala/com/microsoft/ml/spark/nn/ConditionalKNN.scala
  src/test/scala/com/microsoft/ml/spark/nn/BallTreeTest.scala
  src/test/scala/com/microsoft/ml/spark/nn/ConditionalBallTreeTest.scala
Due: scala

added isolation forest to ignores
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
Due: none

switched to DF api
  src/main/scala/com/microsoft/ml/spark/isolationforest/IsolationForest.scala
  src/test/scala/com/microsoft/ml/spark/isolationforest/VerifyIsolationForest.scala
Due: scala

adding config instructions for apachy livy
  README.md
Due: none

adding section to readme for installing with apache livy
  README.md
Due: none
