Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

fix: Recommender Patch for Spark 3 Update
  src/main/python/mmlspark/recommendation/RankingTrainValidationSplit.py
  src/main/python/mmlspark/recommendation/RankingTrainValidationSplitModel.py
  src/main/python/mmlspark/recommendation/SAR.py
  src/main/python/mmlspark/recommendation/SARModel.py
  src/main/python/mmlspark/recommendation/ValidatorSetterParams.py
  src/test/python/mmlsparktest/recommendation/test_ranking.py
Due: python

feat: Adding notebook using Recommender Utilities
  notebooks/samples/Recommendations - News - ALS.ipynb
Due: none

feat: Adding streaming notebook for Reco Utilities
  notebooks/samples/SparkServing - Deploying a Recommender.ipynb
Due: none

feat: adding ALS Reco Utility Notebook
  notebooks/samples/Recommendations - News - ALS.ipynb
Due: none

fix: Recommender Patch for Spark 3 Update (#982)
  src/main/python/mmlspark/recommendation/RankingTrainValidationSplit.py
  src/main/python/mmlspark/recommendation/RankingTrainValidationSplitModel.py
  src/main/python/mmlspark/recommendation/SAR.py
  src/main/python/mmlspark/recommendation/SARModel.py
  src/main/python/mmlspark/recommendation/ValidatorSetterParams.py
  src/test/python/mmlsparktest/recommendation/test_ranking.py
Due: python

fix: Make rate limiting retry indefinitely
  src/main/scala/com/microsoft/ml/spark/io/http/HTTPClients.scala
  src/main/scala/com/microsoft/ml/spark/stages/MiniBatchTransformer.scala
  src/test/scala/com/microsoft/ml/spark/stages/MiniBatchTransformerSuite.scala
Due: scala

fix: make concurrent timeout infinite
  src/main/scala/com/microsoft/ml/spark/cognitive/AzureSearch.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  src/main/scala/com/microsoft/ml/spark/io/http/HTTPTransformer.scala
  src/main/scala/com/microsoft/ml/spark/io/http/SimpleHTTPTransformer.scala
  src/main/scala/com/microsoft/ml/spark/stages/MiniBatchTransformer.scala
  src/test/scala/com/microsoft/ml/spark/stages/MiniBatchTransformerSuite.scala
Due: scala

fix: fix issue with NER suite test
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
  src/test/scala/com/microsoft/ml/spark/stages/MiniBatchTransformerSuite.scala
Due: none

feat: add TextLIME
  src/main/scala/com/microsoft/ml/spark/lime/BreezeUtils.scala
  src/main/scala/com/microsoft/ml/spark/lime/LIME.scala
  src/main/scala/com/microsoft/ml/spark/lime/TextLIME.scala
  src/test/scala/com/microsoft/ml/spark/lime/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/lime/TextLIMESuite.scala
Due: scala

fix: Fix read schemas
  src/main/scala/com/microsoft/ml/spark/cognitive/OCRSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Due: scala

cache buster
  build.sbt
Due: none

squash
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Due: scala

add python package publishing
  build.sbt
Due: none

squash
  build.sbt
  pipeline.yaml
Due: none

Update README.md
  README.md
Due: none

doc: Add CyberML link to README.md (#989)
  README.md
Due: none

Fix typo
  notebooks/samples/CyberML - Anomalous Access Detection.ipynb
Due: none

docs: fix typo
  notebooks/samples/CyberML - Anomalous Access Detection.ipynb
Due: none

docs: fix typo (#990)
  notebooks/samples/CyberML - Anomalous Access Detection.ipynb
Due: none

Update pipeline.yaml for Azure Pipelines
  pipeline.yaml
Due: none
