Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

add eval_at parameter to lightgbm ranker
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRanker.scala
Due: scala

re-enabling windows tests for lightgbm
  src/test/scala/com/microsoft/ml/spark/io/image/ImageReaderSuite.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRanker.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Due: none

Address comments
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
Due: none

Simplify dataframe conversion into array
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
Due: none

fix categorical handling on lightgbm learners
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix cast errors for label, weight and init score columns
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMConstants.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fixed VW kwargs (setLearningRate, setPowerT, ...) updated to VW 8.7.0.3 exposing VW internal performance statistics implemented VW native model export track timing metrics (learn, ingest, sync,...)
  build.sbt
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/main/python/mmlspark/vw/__init__.py
  src/main/scala/com/microsoft/ml/spark/core/utils/StopWatch.scala
  src/main/scala/com/microsoft/ml/spark/vw/HasNumBits.scala
  src/main/scala/com/microsoft/ml/spark/vw/HasSumcollisions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitInteractions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitRegressor.scala
  src/test/python/mmlspark/vw/__init__.py
  src/test/python/mmlspark/vw/test_vw.py
  src/test/scala/com/microsoft/ml/spark/io/binary/BinaryFileReaderSuite.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala, python

fix style issues
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/main/scala/com/microsoft/ml/spark/core/utils/StopWatch.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/python/mmlspark/vw/test_vw.py
Due: scala, python

fixed python wrapper
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitRegressor.scala
Due: scala, python

fixed style
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
Due: scala

added missing python import
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
Due: python

improved vw python unit test
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/test/python/mmlspark/vw/test_vw.py
Due: scala

fixed VW label/features default; fixed unit test
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/test/python/mmlspark/vw/test_vw.py
Due: scala

added missing import
  src/test/python/mmlspark/vw/test_vw.py
Due: none

fixed vw python test
  src/test/python/mmlspark/vw/test_vw.py
Due: none

override python _create_model to return subclass
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/test/python/mmlspark/vw/test_vw.py
Due: python

fix python test
  src/test/python/mmlspark/vw/test_vw.py
Due: none

fix VW regressor test
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/test/python/mmlspark/vw/test_vw.py
Due: python

fix: cast errors for label, weight and init score columns
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

renamed to TrainingStats
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

renamed regressormodel to regressionmodel
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitRegressor.scala
Due: scala

fix unit test
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitRegressorFuzzing.scala
Due: none

renamed RegressorModel RegressionModel
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
Due: python

fix: Vowpal Wabbit kwargs + improvements (#692)
  build.sbt
  src/main/python/mmlspark/vw/VowpalWabbitClassifier.py
  src/main/python/mmlspark/vw/VowpalWabbitRegressor.py
  src/main/python/mmlspark/vw/__init__.py
  src/main/scala/com/microsoft/ml/spark/core/utils/StopWatch.scala
  src/main/scala/com/microsoft/ml/spark/vw/HasNumBits.scala
  src/main/scala/com/microsoft/ml/spark/vw/HasSumcollisions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBaseModel.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitInteractions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitRegressor.scala
  src/test/python/mmlspark/vw/__init__.py
  src/test/python/mmlspark/vw/test_vw.py
  src/test/scala/com/microsoft/ml/spark/io/binary/BinaryFileReaderSuite.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitRegressorFuzzing.scala
Due: scala, python

adding debug for client mode issue and future investigations
  src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
Due: scala

fix lightgbm binary classifier getting stuck due to single label in some partitions
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

cleanup duplication in unit tests
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitInteractions.scala
Due: none

added ngram support
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
Due: scala

cleanup duplication in unit tests (#695)
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitFeaturizer.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitInteractions.scala
Due: none

added label conversion for VW binary classifier (0/1 -> -1/1). Can be disabled.
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitBase.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/test/scala/com/microsoft/ml/spark/vw/VerifyVowpalWabbitClassifier.scala
Due: scala

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
